.carousel-inner {
  display: flex !important;
  flex-direction: row;
  width: 100%;
  transition: transform 0.5s ease;
}

.btnSee {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    color: #F8E28C;
  }
}

.carousel-caption {
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #F8E28C;
  text-align: center;
}

.carousel-indicators {
  margin-bottom: 0 !important;
  background-color: #F8E28C !important;
}

.gallery {
  // width: 90vw;
  // max-width: 1200px;
  // margin: 0 auto;
  // grid-template-rows: 1fr;
  // grid-column-gap: 30px;
  // grid-row-gap: 30px;
  
}
.gallery img {
  max-width: 300px;
  cursor: pointer;
}
.gallery img:hover {
  scale: 1.1;
  transition: 0.5s;
  cursor: pointer;
}
