<!-- <carousel class="mx-auto lg:p-y-10 flex items-center justify-center">
    <slide *ngFor="let image of images" style="background-color: #000;">
        <img [src]="image.url" alt="Slider Image" 
        class="max-w-[700px] max-h-[700px] min-w-[700px] min-h-[700px] mx-auto object-contain" 
        style="object-fit: contain;cursor: pointer;max-width: 600px;max-height: 600px; min-width: 600px;min-height: 600px;" 
        (click)="openModalWithComponent(image)">

        <div class="carousel-caption">
          <h3>{{ image.title }}</h3>
          <p>{{ image.subtitle }}</p>
        </div>
      </slide>
  </carousel> -->

  <section class="py-12">
    
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 ">
          <div class="gallery">
            <div class="flex flex-row justify-center flex-wrap gap-4">
              <div class="w-[250px] rounded-3xl" *ngFor="let image of images">
                <img  data-aos="zoom-in" [src]="image.url" alt="Gallery Image" (click)="openModalWithComponent(image)" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full"/>
              </div>
            </div>
          </div>
        </div>
  </section>
